{% extends "base.html" %}
{% block title %}Технологии{% endblock %}
{% block content %}
{% comment %} Колонки с отступом сверху и снизу {% endcomment %}
<div class="row">
  <h1>Используемые технологии</h1>
  <aside class="col-12 col-md-3">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        Python
      </li>
      <li class="list-group-item">
        Django
      </li>
    </ul>
  </aside>
  <article class="col-12 col-md-9">
    <p>
      Применённые технологии позволяют достаточно быстро, без лишних 
      затрат, создавать несложные сайты, да и сложные, наверное :).
    </p>
    <p>
      При моём знакомстве с различными языками программирования (Бэйсик,
      Фортран, Паскаль, Си, Си++, Java) Python оказался очень мощным,
      гибким и, при том, дружелюбным языком. Очень впечатлила его идея
      "Всё - объект", дающая возможность свободно манипулировать, казалось
      бы, трудно манипулируемыми вещами.
  </article>
</div>
{% endblock %}
