{% extends "users_base.html" %}

{% block title %}{{ title }}{% endblock title %}

{% block card_header %}{{ title }}{% endblock card_header %}

{% block card_body %}
{% include 'users/includes/form_errors.html'  %}
  <form
    method="post"
    enctype="multipart/form-data"
    action=
      {% if is_edit %}
        "{% url 'posts:post_edit' form.instance.id %}"
      {% else %}
        "{% url 'posts:post_create' %}"
      {% endif %}>
    {% csrf_token %}
    {% include 'users/includes/form_fields.html'  %}
    <div class="d-flex justify-content-end">
      <button type="submit" class="btn btn-primary">
        {% if is_edit %}
          Сохранить
        {% else %}
          Добавить
        {% endif %}
      </button>
    </div>
  </form>
{% endblock card_body %}
